name: Build

on:
    push:
        branches: [ "*" ]
    pull_request:
        branches: [ "*" ]

permissions:
    contents: read
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v5
            -   name: Setup JDK 21
                uses: actions/setup-java@v5
                with:
                    distribution: temurin
                    java-version: '21'
            -   name: Setup gradle
                uses: gradle/actions/setup-gradle@v5
            -   run: chmod +x gradlew
            -   name: Build
                run: ./gradlew build
            -   name: Upload Artifact
                uses: actions/upload-artifact@v4.0.0
                with:
                    name: 1.21.5
                    path: build/libs/*-1.21.5.jar
            -   uses: actions/upload-artifact@v4.0.0
                with:
                    name: 1.21.8
                    path: build/libs/*-1.21.8.jar
            -   uses: actions/upload-artifact@v4.0.0
                with:
                    name: 1.21.10
                    path: build/libs/*-1.21.10.jar
            -   uses: actions/upload-artifact@v4.0.0
                with:
                    name: 1.21.11
                    path: build/libs/*-1.21.11.jar
